src/node_modules
node_modules
src/pathToYourJson.json
package-lock.json
.env
src/.DS_Store
src/.env
src/SpeechSalary-d1a6920dcea3.json
srcLogOnly/config.codekit3
.DS_Store
src/auth.json
auth.json
src/client
